/* You can add global styles to this file, and also import other style files */
h1, h3, p {
    color: #160f29;
}
.iconoDeBarras {
    margin: 30px;
    padding: auto;
    margin-left: 95%;
    font-size: 37px;
    
}
.tituloPrincipal {
    margin: 30px;
}
.miFoto img {
    margin: 30px;
    width: 170px;
    height: 170px;
    border-radius: 100%;
}
.textoDeMiVida {
    margin: 30px;
    font-size: 25px;
}
.laLinea{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #070066;
    font-size: 25px;
    color: #fff !important;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.misProyectosTitulo{
    margin: 30px;
}
.linea1  {
    margin-top: 20px;
}
.linea2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tecnologiasDominadas{
    margin-top: 20px;
    margin-bottom: 20px;
}
.nro3 {
    background-color: #070066;
}
footer p, footer li {
    color: #fff;
}
.form { 
    min-width: 400px;
    flex : 1;
    text-align: center;
    padding: 30px;
    order: 5;
}
.form_input {
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom: 3px solid #4d29ff;
	background: transparent;
    color: aliceblue;
}
.form_input:focus {
	background: linear-gradient(to bottom, transparent, #0c0041);
	outline: none;
}
.form_section textarea {
	min-height: 140px;
	resize: none;
}
.button {
	background-color: #4d29ff;
	border-bottom: none;
	padding: 12px;
	color: #FFF;
}
.contacto {
    font-size: 20px;
}