<div class="container">
   
    <div class="row tituloPrincipal p-5">
        <div class="col-md-12">
            <div class="text-center panel panel-default tituloPresentacion">
                <h1>Hola, mi nombre es {{miPorfolio.name}} y soy programador.</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
            <div class="miFoto col-md-4 text-center">
                <img class="redorounded-circle" [src]="miPorfolio.image" class="rounded mx-auto d-block" alt="">
            </div>
        <div class="col-md-4"></div>
    </div>
</div>
    <div class="laLinea">
        <h4>{{miPorfolio.position}}</h4>
    </div>
<div class="container">    
    <div class="row container_textoDeMiVida">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-8">
            <p class="text-center textoDeMiVida">Yo vivo en {{miPorfolio.ubication}}, a lo largo de mis {{miPorfolio.age}} años de vida, me interesó el mundo de la tecnología y el desarrollo de la misma, es por eso que elegí la carrera de programador web y seguir perfecciónandome en el futuro.</p>
            <p class="text-center textoDeMiVida">Me considero una persona naturalmente curiosa y trabajo constantemente para mejorar mis habilidades y solucionar problemas.</p>
        </div>
       <div class="col-md-2 col-sm-0"></div>                                
    </div>
</div>