<div class="container nro3"> 
    <h3 class="pb-4"><i>Login</i></h3>
    <div class="row">
        <div class="col-xxl-3 col-md-3 col-sm-0"></div>
        <div class="col-xxl-6 col-md-6 col-sm-12">
            <form class="form">
                <div class="form_section">
                    <input type="text" placeholder="Usuario" class="form_input">
                </div>
                <div class="form_section">
                    <input type="email" placeholder="Mail" class="form_input">
                </div>
                <div class="form_section">
                    <input type="password" placeholder="Contraseña" class="form_input">
                </div>
                <div class="checkbox checkboxs mb-3 p-4">
                    <label>
                      <input type="checkbox" value="remember-me">Recuerdame
                    </label>
                </div>
                <div class="form_section">
                    <input type="submit" class="form_input button" name="form_input">
                </div>
            </form>
        </div>
        <div class="col-xxl-3 col-md-3 col-sm-0"></div>
    </div>
</div>


    
  

