<div class="container-fluid nro3">
    <div class="row">  
        <div class="col-lg-6 col-sm-12">
            <p class="text-light text-center contacto"><b>Contacto.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-3 col-md-3 col-sm-0"></div>
        <div class="col-xxl-6 col-md-6 col-sm-12">
            <form class="form">
                <div class="form_section">
                    <input type="text" placeholder="Nombre" class="form_input">
                </div>
                <div class="form_section">
                    <input type="email" placeholder="Mail" class="form_input">
                </div>
                <div class="form_section">
                    <textarea class="form_input" placeholder="Asunto"></textarea>
                </div>
                <div class="form_section">
                    <input type="submit" class="form_input button" name="">
                </div>
            </form>
        </div>
        <div class="col-xxl-3 col-md-3 col-sm-0"></div>
    </div>
    <div class="row">
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">©2022 Lisandro Rios</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/lisandro.rios.71" target="_blank">Facebook</a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/lisandrogabrielrios/" target="_blank">Instagram</a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/lisandro-rios-a2882b252/" target="_blank">LinkedIn</a></li>
            </ul>
        </footer>
    </div>
</div>
